.title{
    text-align: center;
    padding: 20px 0px;
}

.hoot-form, .loading{
    width: 40%;
    margin: 0 auto;
}

.loading{
    text-align: center;
}

.hoots {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  
.hoots > div {
    background: hsl(0, 0%, 95%);
    padding: 12px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
}

.hoots > div:nth-child(odd) {
    background-color: #DEB887;
}
.hoots > div:nth-child(even) {
    background-color: #8B4513;
    color: white;
}
  
.hoots > div > p {
    word-wrap: break-word;
    font-size: 30px;
}

.hoots > div:not(:last-child) {
    margin-bottom: 8px;
}

.hoots div .date {
    align-self: flex-end;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
}
  
.col-left {
    width : calc(100% - 20px);
    background: url("wooden.jpg");
    
}

.col-right {
    width : calc(100% - 20px);
    background: url("wooden.jpg");
}

.hoot-form {
    display:flex;
    flex-direction: column;
    width: 93%;
}

.form-input {
    width: 100%;
}

.hooter-title {
    word-wrap: break-word;
    font-weight: 700;
    font-family: "Verdana", Helvetica, sans-serif;
}

.button-primary {
    align-self: flex-end;
    width: 200px;
}